source https://api.nuget.org/v3/index.json

storage: none
nuget FSharp.Control.AsyncSeq 3.2.1
nuget FSharp.Control.TaskSeq 0.4.0
nuget FSharp.HashCollections 0.3.4
nuget FSharpPlus 1.7.0
nuget FsToolkit.ErrorHandling 5.0.1

group Test
source https://www.nuget.org/api/v2

nuget Expecto 10.2.3
nuget Expecto.FsCheck 10.2.3
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk 0.15.3
nuget Newtonsoft.Json